@import "foundation/settings";
@import "foundation/components/grid";

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

$font-stack: proxima-nova, "Proxima Nova", Helvetica, Arial, sans-serif;

* {
	font-family: $font-stack;
}

body {
	font-weight: 300;
}

h2 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;

	margin-top: 3rem;
}

h3 {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
b {
	font-weight: 600;
}

section.search {
	padding-top: 10rem;

	input {
		display: inline-block;
		margin: 0;
		padding: .5rem 0;
		border: none;
		font-size: 1.5rem;

		&:focus {
			outline: none;
		}
	}


	input[type="text"] {
		width: 60%;
		padding-left: 1rem;
		border-bottom: 1px solid #9150A1;
		font-size: 20px;
	}

	input[type="submit"] {
		width: 14%;
		background: none;
		border: 1px solid #9150A1;
		border-radius: 2px;
		color: #9150A1;
		font-size: 16px;
		text-transform: uppercase;
		transition: .2s ease-in-out;
		cursor: pointer;

		&:hover {
			background: #9150A1;
			color: #fff;
			transition: .2s ease-in-out;
		}
	}
}


.search-results {

	i.wi {
		font-size: 3rem;
		color: #9150A1;
	}

	.day {
		i.wi {
			font-size: 2rem;
			color: #9150A1;
		}

		margin-bottom: 2rem;
	}



}











