@import "foundation/settings";
@import "foundation/components/grid";

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

body {
	color: red;
}