<section>
	<h3> User Registration </h3>
	<h3> Sorry! that email already exists. Try again... </h3>
	<div class="row">
		<div class="columns small-12 small-10 small-centered">
			<form action="/add-new-user" method="POST" name="login-form">
				<input type="text" name="userEmail" placeholder="Email"/> <br>
				<input type="text" name="userPassword" placeholder="Password"/> <br>
				<input type="text" name="userCellPhone" placeholder="Cell Phone Number"/> <br>
				<input type="submit" value="Register">
			</form>
		</div>
	</div>
</section>