<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<link rel="stylesheet" type="text/css" href="/css/app.css">
	</head>
	
	<body class="authentication">

		<div class="card">

			<div class="content">
				<h1>Sign Up</h1>
				<h3>Have account already? <a href="/login">Log In</a></h3>
			</div>

			<form method="post">
				
				<div class="content">
					<div class="field">
						<label>Email</label>
						<input type="email" name="email" value="">
						<p class="error">{{ email_error }}</p>
					</div>

					<div class="field">
						<label>Password</label>
						<input type="password" name="password" value="">
						<p class="error">{{ password_error }}</p>
					</div>

					<div class="field">
						<label>Verify Password</label>
						<input type="password" name="verify" value="">
						<p class="error">{{ verify_error }}</p>
					</div>
				</div>

				<input type="submit" value="Sign Up">
			
			</form>
		</div>

		<div class="back-home text-center">
			<p><a href="/">home page</a></p>
		</div>


	</body>
</html>